/* src/App.css */
.App {
  text-align: center;
}

.form-container, .list-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  margin: 10px 0;
}

input {
  padding: 5px;
  margin-left: 10px;
}

button {
  padding: 5px 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pages {
  display: flex;
  gap: 10px;
}

.active {
  font-weight: bold;
}
